<!-- Add Resource -->

<button type="button" class="btn btn-primary" (click)="openModal()">Create template modal</button>

<div bsModal #resources="bs-modal" role="dialog" aria-labelledby="dialog-child-name" class="modal fade">
  <div>
    <div class="modal-body">
      <div class="container p-5" style="background-color: white;">
        <div class="mb-3 row">
          <label for="nameResource" class="col-sm-2 col-form-label">Nombre del recurso:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="nameResource" [(ngModel)]="resource.name">
          </div>
        </div>

        <div class="mb-3 row">
          <label for="category" class="col-sm-2 col-form-label">Categoria:</label>
          <div class="col-sm-10">
            <select name="category" class="form-select" aria-label="Default select example"
              [(ngModel)]="resource.category">
              <option [value]="category" *ngFor="let category of categories">{{category}}</option>
            </select>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="software" class="col-sm-2 col-form-label">Programa relacionado:</label>
          <div class="col-sm-10">
            <select name="subject" class="form-select" aria-label="Default select example"
              [(ngModel)]="resource.subject">
              <option [value]="subject" *ngFor="let subject of subjects">{{subject}}</option>
            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <div class="mb-3 inline">
            <label for="docFile" class="col-sm-2 col-form-label">Archivos multimedia:</label>
            <input type="file" class="form-control" id="exampleFormControlFile1" (change)="setEvent($event)">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="description" class="col-sm-2 col-form-label">Descripción:</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="description" rows="3" [(ngModel)]="resource.description"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Cerrar</button>
          <button type="button" class="btn btn-warning" (click)="addResource()"><strong>Guardar</strong></button>
        </div>
      </div>
    </div>
  </div>