.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #003f72;
  border-bottom: 10px solid #eaab00;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
.container {
  border-radius: 15px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
